# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# PostgreSQL Configuration
POSTGRES_VERSION=17.6
POSTGRES_DB=roda_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# CLOAK
CLOAK_KEY=

# MEMEGRAPH
MEMGRAPH_USER=memgraph
MEMGRAPH_PASSWORD=memgraph

# SEED
INITIAL_ORG_NAME=Orga test
ADMIN_EMAIL=admin@cohortes.co
ADMIN_PASSWORD=Password123456
